__pycache__/
*.ai

# Distribution / packaging
.Python

build/
/data/
/example_notebooks/
develop-eggs/
dist/
downloads/
env/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
src/
# Jupyter notebook
*.ipynb
*.csv
*.png
*.jpg
*.geojson
# VsCode
.vscode/
gtfs_tool/
paper/